html {
  scroll-behavior: smooth;
}

h2 {
  color: #1e2022;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
  padding-bottom: 2rem;
}




/* ENTRANCE
***********************
***********************
***********************
 */
h1 {
  color: #1e2022;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 3rem;
  font-weight: bolder;
}

hr {
  border-bottom: 2px solid #1e2022;
  width: 100%;
}

#Entrance h2 {
  color: #1e2022;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2rem;
  padding-bottom: 4rem;
}

.jumbotron {
  background-image: url('Kocaeli Stadyum 1 - transparent.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  margin: 0;
  text-align: center;
}

.nav-link {
  color: #1e2022;

}

/* ENTRANCE END
***********************
***********************
***********************
 */
/* NAVBAR
***********************
***********************
***********************
 */
@media only screen and (max-width: 2000px) {
  .navbar-brand-collapse {
    position: fixed;
    visibility: hidden;
  }
}

@media only screen and (max-width: 767px) {
  .navbar-brand-collapse {
    position: static;
    visibility: visible;
  }

  .navbar-brand-expand {
    position: fixed;
    visibility: hidden;
  }
}

.col-padding {
  padding: 0;
}

li.nav-item.col {
  padding: 0 10px 0 10px;
}

.navbar-nav.navbar-center {
  left: 0;
  margin-left: auto;
  margin-right: auto;
  right: 0;
}

.navbar {
  background-color: #f0f5f9;
  padding-bottom: 0;
}

#Navbar .nav-link {
  color: #1e2022;
  font-size: 1.3rem;
  /* font-weight: 700; */
  font-family: 'Roboto Condensed', sans-serif;
  padding: 0;
}

.navbar-toggler {
  border:0;

}


/* NAVBAR END
***********************
***********************
***********************
 */


 /* PROFILE
 ***********************
 ***********************
 ***********************
  */

.profile {
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}



#Profile h3 {
  color: #1e2022;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 1.5rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}



.CV-hr {
  border-bottom: 2px solid #1e2022;

}

.profile-photo {
  border-radius: 50%;
  float: left;
  margin-right: 8rem;
  shape-outside: circle();
  width: 300px;
  height: 300px;
}

@media only screen and (max-width: 767px) {
  .profile-photo {
    border-radius: 50%;
    float: none;
    margin-left: auto;
  margin-right: auto;
    width: 200px;
    height: 200px;
display: block;
margin-bottom: 2rem;

    shape-outside: circle();
  }}


.col-lg-6 {
  padding-bottom: 2rem;
  padding-top: 2rem;
}

/* PROFILE END
***********************
***********************
***********************
 */

 /* EXPERIENCE
 ***********************
 ***********************
 ***********************
  */
.experience {
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;

}

/* EXPERIENCE END
***********************
***********************
***********************
 */

.Abilities {
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}

.row-skill {
  vertical-align: middle;
  padding: 7px 0;
}

.row-skill:hover {
  background-color: yellow;
  /* vertical-align: middle; */
}

.skill-name {
  position: absolute;
  left: 1rem;
}

.Certificates {
  /* height: 3000px; */
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}

.certificate-img {
  height: 230px;
  width: 300px;
  padding-bottom: 20px;
}

.img-container {
  height: 230px;
  width: 300px;
  padding-bottom: 20px;
  position: relative;
}

.img-container:hover .certificate-img {
  opacity: 0.5;
}

.img-container:hover .img-content {
  visibility: visible;
}

.img-content {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
  width: 100%;
  margin-bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 60px;
  width: 60px;
  filter: invert(70%);
}

.carousel-img {
  height: 550px;
  width: 800px;
}

.carousel-item {
  position: relative;
}

.carousel-content {
  background-color: yellow;
  text-align: center;
  color: black;
  width: 100%;
  margin-top: 20px;
}

.Projects {
  /* height: 3000px; */
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}

.card {
  margin: 0 auto;
  /* Added */
  float: none;
  /* Added */
  margin-bottom: 10px;
  /* Added */
  width: 90%;
}

.Contact {
  /* height: 3000px; */
  background-color: #52616b;
  color: #f0f5f9;
  text-align: justify;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#Contact a {
  color: #f0f5f9;
  display: table;
  text-decoration: none;
}

#Contact a:hover {
  color: yellow;
  text-decoration: none;
}

#Contact span {
  display: table-cell;
  vertical-align: middle;
}

#Contact i {
  font-size: 36px;
  margin: 10px;
}

/* #profile-photo {
  width: 300px;
  height: 300px;
} */

@media only screen and (max-width: 768px) {
  .Özet {
    /* background-color: yellow;
  color: yellow; */
  }

  .container-fluid {
    /* width: 95%; */
  }

  /* .nav-link {
  font-size: 0.5rem;
} */
  #Projects .col-sm {
    margin-bottom: 30px;
  }

  /* .Özet, .Abilities, .Deneyim, .Certificates, .Projects, .Contact {
    padding-top: 23rem;
  } */

  /* #profile-photo {
    width: 200px;
    height: 200px;
  } */
}
