html {
  scroll-behavior: smooth;
}

/* GİRİŞ ÖZELLİKLERİ */
h1 {
  font-size: 3rem;
  font-weight: bolder;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #1e2022;
}





hr {
  border-bottom: 2px solid #1e2022;
  width: 50%;
}

.kapak {
  font-size: 2rem;
  /* font-weight: bolder; */
  font-family: 'Roboto Condensed', sans-serif;
  color: #1e2022;
}

.jumbotron {
  /* The image used */
  background-image: url('Kocaeli Stadyum 1 - transparent.png');
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 0px;
}

.navbar-nav.navbar-center {
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.navbar {
  background-color: #f0f5f9;
  padding-bottom: 0px;
}

.nav-link {
  color: black;
  font-size: 1rem;
  font-weight: 700;
}

.Özet {
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}

.CV-hr {
  border-bottom: 2px solid #52616b;
  width: 50%;
}

.Profil-Foto {
  border-radius: 50%;
  float: left;
  margin-right: 8rem;
  shape-outside: circle();
}

.container-fluid {
  width: 50%;
  padding-bottom: 1rem;
}

/* @media (max-width: 992px) {
  .container-fluid {
    width: 95%;
  }
} */

.col-right {
  text-align: right;
}

.col-left {
  text-align: left;
}

.col-center {
  text-align: center;

}

.Deneyim {
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
  /* padding-bottom: 25rem; */
  /* padding-bottom: 3rem; */
}

.Abilities {
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}

.row-skill {
  vertical-align: middle;
  padding: 7px 0;
}

.row-skill:hover {
  background-color: yellow;
  /* vertical-align: middle; */
}

.skill-name {
  position: absolute;
  left: 1rem;
}

.Certificates {
  /* height: 3000px; */
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}

.certificate-img {
  height: 230px;
  width: 300px;

  padding-bottom: 20px;
}

.img-container {
  height: 230px;
  width: 300px;

  padding-bottom: 20px;
  position: relative;
}

.img-container:hover .certificate-img {
  opacity: 0.5;
}

.img-container:hover .img-content {
  visibility: visible;
}

.img-content {
  visibility: hidden;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  /* Black background with 0.5 opacity */
  color: #f1f1f1;
  /* Grey text */
  width: 100%;
  margin-bottom: 20px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  height: 60px;
  width: 60px;
  filter: invert(70%);
}

.carousel-img {
  height: 550px;
  width: 800px;
}

.carousel-item {
  position: relative;
}

.carousel-content {
  background-color: yellow;
  text-align: center;
  color: black;
  width: 100%;
  margin-top: 20px;

}


.Projects {
  /* height: 3000px; */
  background-color: #f0f5f9;
  color: #52616b;
  text-align: justify;
  padding-top: 10rem;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
width: 90%;
}

.Contact {
  /* height: 3000px; */
  background-color: #52616b;
  color: #f0f5f9;
  text-align: justify;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

#Contact a {
  color: #f0f5f9;

  display: table;
  text-decoration: none;

}

#Contact a:hover {
  color: yellow;
  text-decoration: none;
}

#Contact span {
display: table-cell;
vertical-align: middle;
}

#Contact i {
  font-size: 36px;
  margin: 10px;
}

#profile-photo {


  width:300px;
   height:300px;
}















@media only screen and (max-width: 768px) {
.Özet {
  /* background-color: yellow;
  color: yellow; */
}

.container-fluid{
  width: 95%;
}

/* .nav-link {
  font-size: 0.5rem;
} */

#Projects .col-sm {
  margin-bottom: 30px;
}

.Özet {
  padding-top: 3rem;
}

#profile-photo {


  width:200px;
   height:200px;
}

}
